.tools-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.tools-text10 {
  display: inline-block;
  text-decoration: none;
}
.tools-text11 {
  display: inline-block;
}
.tools-text12 {
  display: inline-block;
  text-decoration: none;
}
.tools-text13 {
  display: inline-block;
}
.tools-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.tools-text17 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.tools-text18 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.tools-text19 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.tools-text20 {
  display: inline-block;
  text-decoration: none;
}
.tools-text23 {
  display: inline-block;
}
.tools-text24 {
  display: inline-block;
}
.tools-text25 {
  display: inline-block;
}
.tools-text26 {
  display: inline-block;
}
.tools-text27 {
  display: inline-block;
}
.tools-text28 {
  display: inline-block;
}
.tools-text29 {
  display: inline-block;
}
.tools-link {
  text-decoration: none;
}
.tools-text31 {
  display: inline-block;
}
.tools-text32 {
  display: inline-block;
}
.tools-text33 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
