.unblocked-games-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.unblocked-games-text10 {
  display: inline-block;
  text-decoration: none;
}
.unblocked-games-text11 {
  display: inline-block;
}
.unblocked-games-text12 {
  display: inline-block;
  text-decoration: none;
}
.unblocked-games-text13 {
  display: inline-block;
}
.unblocked-games-text16 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.unblocked-games-text17 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.unblocked-games-text18 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.unblocked-games-text19 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
.unblocked-games-text20 {
  display: inline-block;
  text-decoration: none;
}
.unblocked-games-text23 {
  display: inline-block;
}
.unblocked-games-text24 {
  display: inline-block;
}
.unblocked-games-text25 {
  display: inline-block;
}
.unblocked-games-text26 {
  display: inline-block;
}
.unblocked-games-text27 {
  display: inline-block;
}
.unblocked-games-text28 {
  display: inline-block;
}
.unblocked-games-text29 {
  display: inline-block;
}
.unblocked-games-link1 {
  text-decoration: none;
}
.unblocked-games-link2 {
  text-decoration: none;
}
.unblocked-games-link3 {
  text-decoration: none;
}
.unblocked-games-link4 {
  text-decoration: none;
}
.unblocked-games-text39 {
  display: inline-block;
}
.unblocked-games-text40 {
  display: inline-block;
}
.unblocked-games-text41 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
}
