.features8-layout226 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
.features8-max-width {
  align-self: flex-start;
}
.features8-actions1 {
  gap: var(--dl-space-space-unit);
  flex-wrap: wrap;
}
.features8-actions2 {
  gap: var(--dl-space-space-unit);
  flex-wrap: wrap;
}
.features8-actions3 {
  gap: var(--dl-space-space-unit);
  flex-wrap: wrap;
}
.features8-text1 {
  display: inline-block;
}
.features8-text2 {
  display: inline-block;
  text-align: center;
}
.features8-text3 {
  display: inline-block;
  text-align: center;
}
.features8-text4 {
  display: inline-block;
}
.features8-text5 {
  display: inline-block;
  text-align: center;
}
.features8-text6 {
  display: inline-block;
  text-align: center;
}
.features8-text7 {
  display: inline-block;
  text-align: center;
}
.features8-text8 {
  display: inline-block;
}
.features8-text9 {
  display: inline-block;
  text-align: center;
}
@media(max-width: 991px) {
  .features8-layout226 {
    flex-direction: column;
  }
  .features8-content1 {
    align-items: center;
  }
  .features8-content2 {
    align-items: center;
  }
  .features8-content3 {
    align-items: center;
  }
}
